.hr-container {
    position: relative;
    width: 100%;
    text-align: center;
}

.hr-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    z-index: 1;
}

hr {
    border: none;
    height: 1px;
    background-color: black;
    width: 100%;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.btn-google:hover,
.btn-google {
    color: white !important;
    background-color: #d82d20; /* Adjust the color to your preference */
}

.btn-facebook:hover,
.btn-facebook {
    color: white !important;
    background-color: #2d4373; /* Adjust the color to your preference */
}
