{% extends 'base.html' %}
{% load static %}

{% block  head %}
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/products/home.css' %}">
{% endblock head %}
    
{% block body %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" href="#">Chi-Chi Nepal</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-underline">
                <li class="nav-item">
                    <a class="nav-link" href="#">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse d-grid gap-2 d-md-flex justify-content-md-end" id="navbarNav">
            <button class="btn btn-light me-md-2" type="button">LOG IN</button>
            <button class="btn btn-primary" type="button">SIGN UP</button>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'img/products/chicken.jpg' %}" class="card-img-top" alt="Product 1">
                <div class="card-body">
                <h5 class="card-title">Product 1</h5>
                <p class="card-text">Description of product 1.</p>
                <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'img/products/buff.jpg' %}" class="card-img-top" alt="Product 1">
                <div class="card-body">
                    <h5 class="card-title">Product 1</h5>
                    <p class="card-text">Description of product 1.</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'img/products/chicken1.jpg' %}" class="card-img-top" alt="Product 1">
                <div class="card-body">
                    <h5 class="card-title">Product 1</h5>
                    <p class="card-text">Description of product 1.</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'img/products/chicken1.jpg' %}" class="card-img-top" alt="Product 1">
                <div class="card-body">
                    <h5 class="card-title">Product 1</h5>
                    <p class="card-text">Description of product 1.</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</div
{% endblock body %}
