{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>Recipe</title>
{% endblock %}
{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}
{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ recipe.name }}</h1>
                    <!-- Post meta content-->
                    <div class="d-flex">
                        <div class="text-muted fst-italic mb-2"><strong>By:</strong> {{ recipe.username }}</strong></div>
                        <div class="text-muted fst-italic mb-2 ms-5"><strong>Posted:</strong> {{ recipe.updated_at }}</div>
                        <div class="text-muted fst-italic mb-2 ms-5"><strong>Category:</strong> {{ recipe.category.name }}</div>
                    </div>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{ recipe.imageURL }}" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{ recipe.description }}</p>
                    <h2 class="fw-bolder my-4">Ingredients</h2>
                    {% for ingredient in recipe.ingredients.all %}
                    
                    <ul>
                            <li>{{ ingredient }}</li>
                    </ul>
                    {% endfor %}
                    <h2 class="fw-bolder my-4">Instructions</h2>
                    <p class="fs-5 mb-4">{{ recipe.instructions }}</p>
                </section>
            </article>
        </div>
    </div>
</div>
{% endblock body %}
{% block footer %}
{% include "footer.html" %}
{% endblock footer %}