{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>Recipe</title>
{% endblock %}
{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}
{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ recipe.name }}</h1>
                    <!-- Post meta content-->
                    <div class="d-flex">
                        <div class="text-muted fst-italic mb-2"><strong>By:</strong> {{ recipe.username }}</strong></div>
                        <div class="text-muted fst-italic mb-2 ms-5"><strong>Posted:</strong> {{ recipe.updated_at }}</div>
                        <div class="text-muted fst-italic mb-2 ms-5"><strong>Category:</strong> {{ recipe.category.name }}</div>
                    </div>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{ recipe.imageURL }}" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{ recipe.description }}</p>
                    <h2 class="fw-bolder my-4">Ingredients</h2>
                    {% for ingredient in recipe.ingredients.all %}
                    
                    <ul>
                            <li>{{ ingredient }}</li>
                    </ul>
                    {% endfor %}
                    <h2 class="fw-bolder my-4">Instructions</h2>
                    <p class="fs-5 mb-4">{{ recipe.instructions }}</p>
                </section>
            </article>
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Leave a comment!"></textarea></form>
                        <button type="button" class="btn btn-primary mb-3">Post</button>
                        <!-- Comment with nested comments-->
                        <div class="d-flex mb-4">
                            <!-- Parent comment-->
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="ms-3">
                                <div class="fw-bold">Anonymous</div>
                                Loved this recipe. Wasn't to salty or to much vinegar and had just the right ratio of ingredients for the marinade. I'm trying this recipe again, except this time will use fresh cracked black pepper instead of the whole peppercorns. My family loves this simple and easy chicken. Just serve with rice to soak up that delicious sauce.
                                <!-- Child comment 1-->
                                <div class="d-flex mt-4">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Anonymous</div>
                                        Made this dish & I love it ! Has a great vinegar taste & falls right off the bone .
                                    </div>
                                </div>
                                <!-- Child comment 2-->
                                <div class="d-flex mt-4">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Anonymous</div>
                                        Great version of adobo chicken. Easy to make and tastes amazing!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single comment-->
                        <div class="d-flex">
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="ms-3">
                                <div class="fw-bold">Anonymous</div>
                                Made this dish for me and the hubby. It was delicious!! I did alter some of the ingredient amounts just a tiny bit but even if you don’t do that, it comes out perfect!
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        {% comment %} <div class="col-lg-4">
            <form action="{% url "recipe:search_recipe" %}" method="POST">
            {% csrf_token %}
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" name="search_recipe" placeholder="Search recipe here..." aria-label="Enter recipe search term..." aria-describedby="button-search" autocomplete="off"/>
                        <button class="btn btn-primary" id="button-search" type="submit">Go!</button>
                    </div>
                </div>
            </div>
            </form>
        </div> {% endcomment %}
    </div>
</div>
{% endblock body %}