<section class="footer border-top">
<div class="container">
    <footer class="py-5">
    <div class="row">
        <div class="col-6 col-md-1 mb-3">
        </div>

        <div class="col-6 col-md-2 mb-3">
        <ul class="nav flex-column">
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="{% url "products:index" %}" class="nav-link p-0 text-body-secondary">Home</a></li>
                <li class="nav-item mb-2"><a href="{% url "recipe:recipe_list"%}" class="nav-link p-0 text-body-secondary">Recipe</a></li>
                <li class="nav-item mb-2"><a href="{% url "users:about" %}" class="nav-link p-0 text-body-secondary">About</a></li>
                </ul>
        </ul>
        </div>

        <div class="col-6 col-md-2 mb-3">
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-body-secondary">All Items</a></li>
            <li class="nav-item mb-2"><a href="{% url "products:category" "Chicken" %}" class="nav-link p-0 text-body-secondary">Chicken</a></li>
            <li class="nav-item mb-2"><a href="{% url "products:category" "Buff" %}" class="nav-link p-0 text-body-secondary">Buff</a></li>
            <li class="nav-item mb-2"><a href="{% url "products:category" "Pork" %}" class="nav-link p-0 text-body-secondary">Pork</a></li>
            <li class="nav-item mb-2"><a href="{% url "products:category" "Sausage" %}" class="nav-link p-0 text-body-secondary">Sausage</a></li>
            <li class="nav-item mb-2"><a href="{% url "products:category" "Egg" %}" class="nav-link p-0 text-body-secondary">Egg</a></li>

            </ul>
        </div>

        

        <div class="col-md-5 offset-md-1 mb-3">
        <form>
            <h5>Subscribe to our newsletter</h5>
            <p>Monthly digest of what's new and exciting from us.</p>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Subscribe</button>
            </div>
        </form>
        </div>
    </div>

    <div class="text-center py-2 my-2 border-top border-3">
        <p>&copy; 2024 Chi-Chi Nepal, Inc. All rights reserved.</p>
    </div>
    </footer>
</div>
</section>
